*{
    @apply !leading-relaxed;
}

::selection {
    --tw-bg-opacity: 1;
    background-color: rgb(234 166 145 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
